.button {
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(255, 254, 255);
    border: none;
    border-radius: 6px;
    outline-style: none;
    background: rgb(172, 107, 180);
    padding: 5px 25px;
    box-shadow: 2px 2px 10px rgba(219, 219, 219, 1);
    margin: 5px;
    height: 25px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: rgb(129, 52, 141);
}

.button:active {
    background: rgb(97, 21, 109);
}

.delete-btn {
    background-color: #f5626e;
}

.delete-btn:hover {
    background-color: #FF3636;
}

.circle-btn {
    border-radius: 50%;
}