.categories {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    min-height: 200px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid rgb(221, 211, 211);
    border-radius: 8px;
}

.categories__item {
    position: relative;
    width: 85px;
    height: 85px;
    margin: 15px;
}

.categories__item_main-btn {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 5px;
}

.categories__item:hover > .categories__item_delete-btn {
    opacity: 1;
}

.categories__item_delete-btn {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
}

.categories__add_btn {
    background: rgb(120, 226, 129);
}

.categories__add_btn:hover {
    background: rgb(94, 197, 103);
}

.categories__add_btn:active {
    background: rgb(66, 168, 75);
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.category__block {
    width: 48% !important;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.category__list {
    height: 250px;
    overflow-y: scroll;
}

.category__list_item {
    display: flex;
    margin: 5px 0;
    list-style: none;
}

.category__list_item span {
    margin: 0 5px;
}

.category__list_item_btn {
    margin-left: auto;
}

.category__total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.category__buttons {
    margin-top: 15px;
}