.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form__fields {
    flex-grow: 1;
    width: 100%;
}

.form__fields_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__input {
    padding: 3px;
}

.form__input_error {
    border-color: red;
}

.form__error-text {
    text-align: center;
    width: 100%;
    height: 30px;
    color: red;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}