* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: rgba(241, 238, 238, 0.623);
}

.wrapper {
    width: 100%;
	max-width: 1020px;
}

.main-content {
    width: 100%;
    padding: 20px;
	font-family: 'Titillium Web', sans-serif;
}

button, input {
    outline: none;
}