.header {
	font-family: 'Dancing Script', cursive;
	background: rgb(145, 245, 154);
	color: rgb(172, 107, 180);
	width: 100vw;
	height: 85px;
	display: flex;
	align-items: center;
	margin: 0;
	box-shadow: 0px 0px 20px rgba(219, 219, 219, 1);
}

.header__item {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__title {
	text-shadow: 2px -1px 3px rgba(150, 150, 150, 1);
	font-size: 3rem;
}

.header__authorization {
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.header__authorization_nick-name {
    margin: 5px;
    font-size: 20px;
}