.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-blur {
    backdrop-filter: blur(10px);
}

.modal__block {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    border: 1px solid black;
    background: beige;
}

.modal__block_sm {
    width: 280px;
    height: 300px;
    left: calc(50% - 140px);
    top: calc(50% - 150px);
}

.modal__block_md {
    width: 500px;
    height: 400px;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
}

.modal__block_lg {
    width: 750px;
    height: 450px;
    left: calc(50% - 375px);
    top: calc(50% - 225px);
}

.modal__header {
    display: flex;
    width: 100%;
    height: 50px;
}

.modal__header_title {
    margin: auto;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
}

.modal__main {
    flex-grow: 1;
    width: 100%;
}